---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE } from '../../consts';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
const headTitle = `${SITE_TITLE} - ${post.id} ${post.data.title}`;
---

<html lang="ja">
	<head>
		<BaseHead title={headTitle} image={post.data.image} />
	</head>
	<body>
		<header>
			<h1><a href="/">{SITE_TITLE}</a></h1>
			<h2>
				<div>{post.id}</div>
				<div>{post.data.title}</div>
			</h2>
		</header>
		<hr />
		<main>
			<Content />
		</main>
		<hr />
		<footer>
			<a href="/">&lt;&lt; {SITE_TITLE} Index</a>
		</footer>
	</body>
</html>
