---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => Number(b.id.replaceAll('-', '')) - Number(a.id.replaceAll('-', '')),
);
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<header>
			<h1><a href="/">{SITE_TITLE}</a></h1>
		</header>
		<hr />
		<main>
			{
				posts.map((post) => (
					<p>
						<a href={`/posts/${post.id}/`}>
							<span>{post.id}</span>
							<span>{post.data.title}</span>
						</a>
					</p>
				))
			}
		</main>
		<hr />
		<footer>
			<a href="https://gloxi.net">&lt;&lt; GLOXINIA</a>
		</footer>
	</body>
</html>
