---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => Number(b.data.date.replaceAll('-', '')) - Number(a.data.date.replaceAll('-', '')),
);
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<h1><a href="/">{SITE_TITLE}</a></h1>
		<main>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/posts/${post.id}/`}>
								<span>{post.data.date}</span>
								<span>{post.data.title}</span>
							</a>
						</li>
					))
				}
			</ul>
			<ul>
				<li>
					<a href="https://gloxi.net">GLOXINIA</a>
				</li>
			</ul>
		</main>
	</body>
</html>
